{% extends "base.html" %}

{% block content %}
  <h2>Opiniones</h2>
  <ul>
    {% for opinion in opiniones %}
      <li>
        <strong>{{ opinion.usuario }}:</strong> {{ opinion.libro }}<br>
        {{ opinion.opinion }}<br>
        Publicado el {{ opinion.fecha }}
        <br>
        {% if user.is_authenticated and user == opinion.usuario %}
          <a href="{% url 'editar_opinion' opinion.id %}">Editar</a> |
          <a href="{% url 'eliminar_opinion' opinion.id %}">Eliminar</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% if user.is_authenticated %}
    <a href="{% url 'agregar_opinion' %}">Agregar Opinión</a>
    <br>
    <a href="{% url 'tus_opiniones' %}">Tus Opiniones</a>
  {% else %}
    <p>Para dejar una opinión, <a href="{% url 'inicio_sesion' %}">inicia sesión</a>.</p>
  {% endif %}
{% endblock %}
