{% extends "base.html" %}

{% block content %}
  <h2>Sobre Mí</h2>
  <p>¡Hola! Soy Mateo Muscolino y esta es mi página web. Soy de Argentina, Buenos Aires, Bahia Blanca. Aca podes encontrar información sobre mí y mis intereses.</p>
  <p>Me apasionan los videojuegos,la programacion y los libros, y estoy emocionado de compartir mi primera web :).</p>
  <p>Tengo 19 años, actualmente estoy en el segundo año de Ingenieria en Sistemas de Informacion pero el año que viene me voy a cambiar a una Tecnicatura en Programacion.<p>
  <p>Si tenes alguna pregunta o deseas contactarme, no dudes en hacerlo.</p>
{% endblock %}
